@import "jquery-ui.css";
@import "flatpickr.min.css";

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#sortable li span {
  margin-left: -1.3em;
}

.content-container {
  margin: 0 10%;
}

.tasks-form  {
  margin-top: 20px;
}

.tasks-form label {
  font-weight: bold;
}

.tasks-form input[type=text], .tasks-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.tasks-form button{
    background-color: #006aac;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  
}

.tasks-form  button:hover {
    background-color: #385b8a;
}

.alert-danger {
  color: red;
  margin-bottom: 10px;
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-header a {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.tasks-header a:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
